" intellij settings
"
"ideavim settings
set surround
set multiple-cursors
set commentary
set NERDTree

"ideavim basic vim settings
set ignorecase "検索時大文字小文字を気にしない
set hlsearch "検索結果をハイライト表示にする
set clipboard+=unnamed "clipboard有効化
set backspace=indent,eol,start "vimでバックスペースを有効にする
set whichwrap=b,s,h,l,[,],<,>,~ "左右の移動で行をまたいで移動
set scrolloff=5
set incsearch

"ideavim basic key mappings
imap jj <Esc>
nnoremap <ESC><ESC> :nohlsearch<CR>

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" rd単位移動Commentary plugin
Plug 'tpope/vim-commentary'
" set ideavim plugin
Plug 'easymotion/vim-easymotion'

